n8n-workflows/01-scraping-noticias-rss.json
{
  "name": "Portal do Esporte — Scraping de Notícias RSS",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "⏰ Disparar a cada 6h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// FONTES RSS — Federações Gaúchas confirmadas\n// ativo: true = será buscado a cada 6h\n// ativo: false = aguardando validação\n// ============================================================\nconst fontes = [\n\n  // ✅ RSS CONFIRMADOS — WordPress com /feed nativo\n  {\n    nome: 'Federação Gaúcha de Ciclismo',\n    url_rss: 'https://www.fgc.com.br/feed/',\n    esporte_slug: 'ciclismo',\n    ativo: true\n  },\n  {\n    nome: 'IFBB RS (Fisiculturismo)',\n    url_rss: 'https://www.ifbbrs.com.br/feed/',\n    esporte_slug: 'fisiculturismo',\n    ativo: true\n  },\n  {\n    nome: 'Federação Gaúcha de Judô',\n    url_rss: 'https://judors.com.br/feed/',\n    esporte_slug: 'judo',\n    ativo: true\n  },\n\n  // ✅ RSS de referência nacional\n  {\n    nome: 'GloboEsporte',\n    url_rss: 'https://ge.globo.com/rss/atomfeed.xml',\n    esporte_slug: 'futebol',\n    ativo: true\n  },\n\n  // ⏳ SEM RSS — SPA/custom (scraping futuro via Apify)\n  // FGARS (Atletismo): https://www.fgars.org/#/pages/news — SPA, sem RSS\n  // Tênis Integrado: https://www.tenisintegrado.com.br — backend Java, sem RSS\n\n  // ⏳ AGUARDANDO VALIDAÇÃO DE URL\n  {\n    nome: 'Federação Gaúcha de Futebol',\n    url_rss: 'https://www.fgf.com.br/feed',\n    esporte_slug: 'futebol',\n    ativo: false\n  },\n  {\n    nome: 'Federação Gaúcha de Vôlei',\n    url_rss: 'https://www.fgv.com.br/feed',\n    esporte_slug: 'volei',\n    ativo: false\n  },\n  {\n    nome: 'Federação Gaúcha de Basquetebol',\n    url_rss: 'https://www.fgb.com.br/feed',\n    esporte_slug: 'basquete',\n    ativo: false\n  }\n];\n\nreturn fontes\n  .filter(f => f.ativo)\n  .map(f => ({ json: f }));"
      },
      "id": "node-fontes",
      "name": "📋 Lista de Fontes RSS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.url_rss }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "node-fetch",
      "name": "🌐 Buscar RSS Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parsear XML do RSS e extrair itens\nconst xml = $input.item.json.data;\nconst fonte_nome = $('📋 Lista de Fontes RSS').item.json.nome;\nconst esporte_slug = $('📋 Lista de Fontes RSS').item.json.esporte_slug;\n\nif (!xml || typeof xml !== 'string') {\n  console.log(`⚠️ Sem resposta de ${fonte_nome}`);\n  return [];\n}\n\n// Decodifica entidades HTML (named + numeric) — fix encoding português\nconst decodeEntities = (str) => {\n  if (!str) return str;\n  const entities = {\n    '&amp;': '&', '&lt;': '<', '&gt;': '>',\n    '&nbsp;': ' ', '&aacute;': 'á', '&eacute;': 'é', '&iacute;': 'í',\n    '&oacute;': 'ó', '&uacute;': 'ú', '&Aacute;': 'Á', '&Eacute;': 'É',\n    '&Iacute;': 'Í', '&Oacute;': 'Ó', '&Uacute;': 'Ú', '&atilde;': 'ã',\n    '&otilde;': 'õ', '&Atilde;': 'Ã', '&Otilde;': 'Õ', '&ccedil;': 'ç',\n    '&Ccedil;': 'Ç', '&agrave;': 'à', '&egrave;': 'è', '&acirc;': 'â',\n    '&ecirc;': 'ê', '&ocirc;': 'ô', '&ucirc;': 'û', '&ndash;': '–',\n    '&mdash;': '—', '&hellip;': '…', '&lsquo;': '\\u2018', '&rsquo;': '\\u2019',\n    '&ldquo;': '\\u201C', '&rdquo;': '\\u201D'\n  };\n  return str\n    .replace(/&#x([0-9a-fA-F]+);/g, (_, hex) => String.fromCharCode(parseInt(hex, 16)))\n    .replace(/&#([0-9]+);/g, (_, dec) => String.fromCharCode(parseInt(dec, 10)))\n    .replace(/&[a-zA-Z]+;/g, (ent) => entities[ent] || ent);\n};\n\nconst extract = (text, tag) => {\n  const r = new RegExp(\n    `<${tag}[^>]*><!\\\\[CDATA\\\\[([\\\\s\\\\S]*?)\\\\]\\\\]><\\/${tag}>|<${tag}[^>]*>([\\\\s\\\\S]*?)<\\/${tag}>`,\n    'i'\n  );\n  const m = text.match(r);\n  return (m ? (m[1] || m[2]) : '').trim();\n};\n\nconst itemRegex = /<item[^>]*>([\\s\\S]*?)<\\/item>/gi;\nconst items = [];\nlet match;\n\nwhile ((match = itemRegex.exec(xml)) !== null) {\n  const item = match[1];\n  const titulo = decodeEntities(extract(item, 'title'));\n  const link = extract(item, 'link') || extract(item, 'guid');\n  const descricao = extract(item, 'description');\n\n  // Extrai link: RSS padrão ou Atom (<link href=\"URL\" />)\n  const linkAtomMatch = item.match(/<link[^>]+href=[\"']([^\"']+)[\"'][^>]*\\/?>/i);\n  const fonte_url = link || (linkAtomMatch ? linkAtomMatch[1] : null);\n\n  const imgMatch = descricao.match(/<img[^>]+src=[\"']([^\"']+)[\"']/i);\n  const imagem_url = imgMatch ? imgMatch[1] : null;\n  const resumo = decodeEntities(descricao.replace(/<[^>]+>/g, '').trim().substring(0, 300)) || null;\n\n  if (titulo && fonte_url) {\n    items.push({ titulo, fonte_url, fonte_nome, resumo, imagem_url, esporte_slug });\n  }\n}\n\nconsole.log(`${fonte_nome}: ${items.length} itens encontrados`);\nreturn items.map(i => ({ json: i }));"
      },
      "id": "node-parse",
      "name": "🔍 Parsear XML do RSS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "node-split",
      "name": "🔄 Um item por vez",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.fonte_url }}",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "node-fetch-article",
      "name": "🔗 Buscar artigo completo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Extrai conteúdo completo e melhor imagem do artigo\nconst html = $input.item.json.data || '';\nconst item = $('🔄 Um item por vez').item.json;\n\n// Extrai og:image (melhor imagem disponível)\nconst ogImageMatch =\n  html.match(/<meta[^>]+property=[\"']og:image[\"'][^>]+content=[\"']([^\"']+)[\"']/i) ||\n  html.match(/<meta[^>]+content=[\"']([^\"']+)[\"'][^>]+property=[\"']og:image[\"']/i);\nconst imagem_url = (ogImageMatch ? ogImageMatch[1] : null) || item.imagem_url || null;\n\n// Tenta extrair conteúdo do artigo via seletores comuns (WordPress, portais de notícia)\nconst contentPatterns = [\n  /<article[^>]*>([\\s\\S]*?)<\\/article>/i,\n  /<div[^>]+class=[\"'][^\"']*entry-content[^\"']*[\"'][^>]*>([\\s\\S]*?)<\\/div>/i,\n  /<div[^>]+class=[\"'][^\"']*post-content[^\"']*[\"'][^>]*>([\\s\\S]*?)<\\/div>/i,\n  /<div[^>]+class=[\"'][^\"']*td-post-content[^\"']*[\"'][^>]*>([\\s\\S]*?)<\\/div>/i,\n  /<div[^>]+class=[\"'][^\"']*article-body[^\"']*[\"'][^>]*>([\\s\\S]*?)<\\/div>/i,\n  /<div[^>]+class=[\"'][^\"']*materia-conteudo[^\"']*[\"'][^>]*>([\\s\\S]*?)<\\/div>/i\n];\n\nlet conteudo = null;\nfor (const pattern of contentPatterns) {\n  const m = html.match(pattern);\n  if (m) {\n    const extracted = m[1]\n      .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n      .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n      .replace(/<nav[\\s\\S]*?<\\/nav>/gi, '')\n      .replace(/<aside[\\s\\S]*?<\\/aside>/gi, '')\n      .replace(/<footer[\\s\\S]*?<\\/footer>/gi, '')\n      .trim();\n    if (extracted.length > 200) {\n      conteudo = extracted;\n      break;\n    }\n  }\n}\n\nconsole.log(`📰 ${item.titulo} — conteudo: ${conteudo ? conteudo.length + ' chars' : 'não extraído'} | imagem: ${imagem_url ? 'ok' : 'null'}`);\n\nreturn [{ json: { ...item, conteudo: conteudo || null, imagem_url } }];"
      },
      "id": "node-extract",
      "name": "📝 Extrair conteúdo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal-do-esporte-phi.vercel.app/api/webhook/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "portal-esporte-webhook-2026"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"noticia\",\n  \"titulo\": \"{{ $json.titulo }}\",\n  \"resumo\": \"{{ $json.resumo }}\",\n  \"conteudo\": \"{{ $json.conteudo }}\",\n  \"imagem_url\": \"{{ $json.imagem_url }}\",\n  \"fonte_nome\": \"{{ $json.fonte_nome }}\",\n  \"fonte_url\": \"{{ $json.fonte_url }}\",\n  \"esporte_slug\": \"{{ $json.esporte_slug }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node-webhook",
      "name": "📤 Enviar notícia ao Portal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst titulo = $('🔄 Um item por vez').item.json.titulo;\n\nif (response.success) {\n  console.log(`✅ Salva: ${titulo}`);\n} else if (response.skipped) {\n  console.log(`⏭️ Duplicata: ${titulo}`);\n} else {\n  console.log(`❌ Erro: ${titulo} — ${JSON.stringify(response)}`);\n}\n\nreturn $input.all();"
      },
      "id": "node-log",
      "name": "📝 Log do resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    }
  ],
  "connections": {
    "⏰ Disparar a cada 6h": {
      "main": [[{ "node": "📋 Lista de Fontes RSS", "type": "main", "index": 0 }]]
    },
    "📋 Lista de Fontes RSS": {
      "main": [[{ "node": "🌐 Buscar RSS Feed", "type": "main", "index": 0 }]]
    },
    "🌐 Buscar RSS Feed": {
      "main": [[{ "node": "🔍 Parsear XML do RSS", "type": "main", "index": 0 }]]
    },
    "🔍 Parsear XML do RSS": {
      "main": [[{ "node": "🔄 Um item por vez", "type": "main", "index": 0 }]]
    },
    "🔄 Um item por vez": {
      "main": [[{ "node": "🔗 Buscar artigo completo", "type": "main", "index": 0 }]]
    },
    "🔗 Buscar artigo completo": {
      "main": [[{ "node": "📝 Extrair conteúdo", "type": "main", "index": 0 }]]
    },
    "📝 Extrair conteúdo": {
      "main": [[{ "node": "📤 Enviar notícia ao Portal", "type": "main", "index": 0 }]]
    },
    "📤 Enviar notícia ao Portal": {
      "main": [[{ "node": "📝 Log do resultado", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["portal-do-esporte"]
}
