n8n-workflows/Portal do Esporte — Scraping de Notícias RSS.json
{
  "name": "Portal do Esporte вЂ” Scraping de NotГ­cias RSS",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "56ec3cf4-893b-4c6c-b240-9606b79bd050",
      "name": "вЏ° Disparar a cada 6h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        8944,
        1440
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// FONTES RSS вЂ” FederaГ§Гµes GaГєchas confirmadas\n// ativo: true = serГЎ buscado a cada 6h\n// ativo: false = aguardando validaГ§ГЈo\n// ============================================================\nconst fontes = [\n\n  // вњ… RSS CONFIRMADOS вЂ” WordPress com /feed nativo\n  {\n    nome: 'FederaГ§ГЈo GaГєcha de Ciclismo',\n    url_rss: 'https://www.fgc.com.br/feed/',\n    esporte_slug: 'ciclismo',\n    ativo: true\n  },\n  {\n    nome: 'IFBB RS (Fisiculturismo)',\n    url_rss: 'https://www.ifbbrs.com.br/feed/',\n    esporte_slug: 'fisiculturismo',\n    ativo: true\n  },\n  {\n    nome: 'FederaГ§ГЈo GaГєcha de JudГґ',\n    url_rss: 'https://judors.com.br/feed/',\n    esporte_slug: 'judo',\n    ativo: true\n  },\n\n  // вњ… RSS de referГЄncia nacional\n  {\n    nome: 'GloboEsporte',\n    url_rss: 'https://ge.globo.com/rss/atomfeed.xml',\n    esporte_slug: 'futebol',\n    ativo: true\n  },\n\n  // вЏі SEM RSS вЂ” SPA/custom (scraping futuro via Apify)\n  // FGARS (Atletismo): https://www.fgars.org/#/pages/news вЂ” SPA, sem RSS\n  // TГЄnis Integrado: https://www.tenisintegrado.com.br вЂ” backend Java, sem RSS\n\n  // вњ… RSS CONFIRMADOS вЂ” validados em 2026-03-16\n  {\n    nome: 'FederaГ§ГЈo GaГєcha de Basketball',\n    url_rss: 'https://basquetegaucho.com.br/feed/',\n    esporte_slug: 'basquete',\n    ativo: true\n  },\n\n  // вЏі SEM RSS вЂ” aguardando validaГ§ГЈo ou site sem feed\n  {\n    nome: 'FederaГ§ГЈo GaГєcha de Futebol',\n    url_rss: 'https://www.fgf.com.br/feed',\n    esporte_slug: 'futebol',\n    ativo: false\n  },\n  {\n    nome: 'FederaГ§ГЈo GaГєcha de VГґlei',\n    url_rss: 'https://www.fgv.com.br/feed',\n    esporte_slug: 'volei',\n    ativo: false\n  }\n];\n\nreturn fontes\n  .filter(f => f.ativo)\n  .map(f => ({ json: f }));"
      },
      "id": "1a120d6a-ce48-44a4-8950-f96abe6ea166",
      "name": "рџ“‹ Lista de Fontes RSS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9168,
        1440
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url_rss }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        }
      },
      "id": "745bd72c-6115-4eb4-8ab4-5d62781c0d28",
      "name": "рџЊђ Buscar RSS Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9392,
        1440
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parsear XML do RSS e Atom вЂ” suporta ambos os formatos\nconst xml = $input.item.json.data;\nconst fonte_nome = $('рџ“‹ Lista de Fontes RSS').item.json.nome;\nconst esporte_slug = $('рџ“‹ Lista de Fontes RSS').item.json.esporte_slug;\n\nif (!xml || typeof xml !== 'string') {\n  console.log(`вљ пёЏ Sem resposta de ${fonte_nome}`);\n  return [];\n}\n\n// Detecta formato: Atom usa <entry>, RSS usa <item>\nconst isAtom = /<feed[^>]*xmlns[^>]*>/i.test(xml) || /<entry[^>]*>/i.test(xml);\nconsole.log(`${fonte_nome}: formato ${isAtom ? 'Atom' : 'RSS'}`);\n\n// Decodifica entidades HTML (named + numeric)\nconst decodeEntities = (str) => {\n  if (!str) return str;\n  const entities = {\n    '&amp;': '&', '&lt;': '<', '&gt;': '>',\n    '&nbsp;': ' ', '&aacute;': 'ГЎ', '&eacute;': 'Г©', '&iacute;': 'Г­',\n    '&oacute;': 'Гі', '&uacute;': 'Гє', '&Aacute;': 'ГЃ', '&Eacute;': 'Г‰',\n    '&Iacute;': 'ГЌ', '&Oacute;': 'Г“', '&Uacute;': 'Гљ', '&atilde;': 'ГЈ',\n    '&otilde;': 'Гµ', '&Atilde;': 'Гѓ', '&Otilde;': 'Г•', '&ccedil;': 'Г§',\n    '&Ccedil;': 'Г‡', '&agrave;': 'Г ', '&egrave;': 'ГЁ', '&acirc;': 'Гў',\n    '&ecirc;': 'ГЄ', '&ocirc;': 'Гґ', '&ucirc;': 'Г»', '&ndash;': 'вЂ“',\n    '&mdash;': 'вЂ”', '&hellip;': 'вЂ¦', '&lsquo;': '\\u2018', '&rsquo;': '\\u2019',\n    '&ldquo;': '\\u201C', '&rdquo;': '\\u201D'\n  };\n  return str\n    .replace(/&#x([0-9a-fA-F]+);/g, (_, hex) => String.fromCharCode(parseInt(hex, 16)))\n    .replace(/&#([0-9]+);/g, (_, dec) => String.fromCharCode(parseInt(dec, 10)))\n    .replace(/&[a-zA-Z]+;/g, (ent) => entities[ent] || ent);\n};\n\nconst extract = (text, tag) => {\n  const r = new RegExp(\n    `<${tag}[^>]*><!\\\\[CDATA\\\\[([\\\\s\\\\S]*?)\\\\]\\\\]><\\/${tag}>|<${tag}[^>]*>([\\\\s\\\\S]*?)<\\/${tag}>`,\n    'i'\n  );\n  const m = text.match(r);\n  return (m ? (m[1] || m[2]) : '').trim();\n};\n\nconst items = [];\n\nif (isAtom) {\n  // в”Ђв”Ђ ATOM в”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n  const entryRegex = /<entry[^>]*>([\\s\\S]*?)<\\/entry>/gi;\n  let match;\n  while ((match = entryRegex.exec(xml)) !== null) {\n    const entry = match[1];\n    const titulo = decodeEntities(extract(entry, 'title'));\n\n    // Atom: <link href=\"URL\" rel=\"alternate\" /> ou <link href=\"URL\" />\n    const linkMatch = entry.match(/<link[^>]+href=[\"']([^\"']+)[\"'][^>]*(?:rel=[\"']alternate[\"'][^>]*)?\\/?>/) ||\n                      entry.match(/<link[^>]+rel=[\"']alternate[\"'][^>]+href=[\"']([^\"']+)[\"'][^>]*\\/?>/);\n    const fonte_url = linkMatch ? linkMatch[1] : null;\n\n    // Atom: <summary> ou <content>\n    const descricao = extract(entry, 'summary') || extract(entry, 'content') || '';\n    const resumo = decodeEntities(descricao.replace(/<[^>]+>/g, '').trim().substring(0, 300)) || null;\n\n    // Imagem: media:thumbnail ou enclosure\n    const thumbMatch = entry.match(/<media:thumbnail[^>]+url=[\"']([^\"']+)[\"']/i) ||\n                       entry.match(/<enclosure[^>]+url=[\"']([^\"']+)[\"'][^>]+type=[\"']image/i);\n    const imagem_url = thumbMatch ? thumbMatch[1] : null;\n\n    if (titulo && fonte_url) {\n      items.push({ titulo, fonte_url, fonte_nome, resumo, imagem_url, esporte_slug });\n    }\n  }\n} else {\n  // в”Ђв”Ђ RSS в”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n  const itemRegex = /<item[^>]*>([\\s\\S]*?)<\\/item>/gi;\n  let match;\n  while ((match = itemRegex.exec(xml)) !== null) {\n    const item = match[1];\n    const titulo = decodeEntities(extract(item, 'title'));\n    const link = extract(item, 'link') || extract(item, 'guid');\n    const descricao = extract(item, 'description');\n\n    const linkAtomMatch = item.match(/<link[^>]+href=[\"']([^\"']+)[\"'][^>]*\\/?>/i);\n    const fonte_url = link || (linkAtomMatch ? linkAtomMatch[1] : null);\n\n    const imgMatch = descricao.match(/<img[^>]+src=[\"']([^\"']+)[\"']/i);\n    const imagem_url = imgMatch ? imgMatch[1] : null;\n    const resumo = decodeEntities(descricao.replace(/<[^>]+>/g, '').trim().substring(0, 300)) || null;\n\n    if (titulo && fonte_url) {\n      items.push({ titulo, fonte_url, fonte_nome, resumo, imagem_url, esporte_slug });\n    }\n  }\n}\n\nconsole.log(`${fonte_nome}: ${items.length} itens encontrados`);\nreturn items.map(i => ({ json: i, pairedItem: { item: 0 } }));"
      },
      "id": "a651aa29-2dbb-4d3a-aa98-84c29effbbf7",
      "name": "рџ”Ќ Parsear XML do RSS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9616,
        1440
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.fonte_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "id": "2e94122d-803f-4038-8c4a-0e79ea939169",
      "name": "рџ”— Buscar artigo completo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9840,
        1440
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Processa TODOS os itens вЂ” HTML de $input.all(), metadados de Parsear XML pelo Г­ndice\nfunction extractFromAnchor(htmlStr, anchorRegex) {\n  const m = htmlStr.match(anchorRegex);\n  if (!m) return null;\n  const start = htmlStr.indexOf(m[0]);\n  if (start === -1) return null;\n  const chunk = htmlStr.substring(start, start + 25000);\n  const paragraphs = (chunk.match(/<p[^>]*>[\\s\\S]*?<\\/p>/gi) || [])\n    .map(p => p.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim())\n    .filter(p => p.length > 40);\n  if (paragraphs.length === 0) return null;\n  return '<p>' + paragraphs.slice(0, 40).join('</p>\\n<p>') + '</p>';\n}\n\nconst anchors = [\n  /<article[^>]*>/i,\n  /<div[^>]+class=[\"'][^\"']*entry-content[^\"']*[\"']/i,\n  /<div[^>]+class=[\"'][^\"']*post-content[^\"']*[\"']/i,\n  /<div[^>]+class=[\"'][^\"']*td-post-content[^\"']*[\"']/i,\n  /<div[^>]+class=[\"'][^\"']*article-body[^\"']*[\"']/i,\n  /<div[^>]+class=[\"'][^\"']*materia-conteudo[^\"']*[\"']/i,\n  /<div[^>]+class=[\"'][^\"']*conteudo[^\"']*[\"']/i,\n  /<div[^>]+class=[\"'][^\"']*content[^\"']*[\"']/i,\n  /<main[^>]*>/i,\n];\n\nconst httpItems = $input.all();\nconst parsedItems = $('рџ”Ќ Parsear XML do RSS').all();\nconst results = [];\n\nfor (let i = 0; i < httpItems.length; i++) {\n  const html = httpItems[i].json.data || '';\n  const meta = parsedItems[i] ? parsedItems[i].json : {};\n\n  const titulo = meta.titulo || '';\n  const fonte_url = meta.fonte_url || '';\n  const fonte_nome = meta.fonte_nome || '';\n  const resumo = meta.resumo || null;\n  const esporte_slug = meta.esporte_slug || '';\n\n  // Extrai og:image\n  let imagem_url = meta.imagem_url || null;\n  const ogImagePatterns = [\n    /<meta[^>]+property=[\"']og:image[\"'][^>]+content=[\"']([^\"']+)[\"']/i,\n    /<meta[^>]+content=[\"']([^\"']+)[\"'][^>]+property=[\"']og:image[\"']/i,\n    /<meta[^>]+name=[\"']twitter:image[\"'][^>]+content=[\"']([^\"']+)[\"']/i,\n    /<meta[^>]+content=[\"']([^\"']+)[\"'][^>]+name=[\"']twitter:image[\"']/i,\n  ];\n  for (const pattern of ogImagePatterns) {\n    const m = html.match(pattern);\n    if (m && m[1] && m[1].startsWith('http')) {\n      imagem_url = m[1];\n      break;\n    }\n  }\n\n  // Extrai conteГєdo\n  let conteudo = null;\n  for (const anchor of anchors) {\n    const extracted = extractFromAnchor(html, anchor);\n    if (extracted && extracted.length > 200) {\n      conteudo = extracted;\n      break;\n    }\n  }\n  if (!conteudo) {\n    const allP = (html.match(/<p[^>]*>[\\s\\S]*?<\\/p>/gi) || [])\n      .map(p => p.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim())\n      .filter(p => p.length > 60);\n    if (allP.length >= 2) {\n      conteudo = '<p>' + allP.slice(0, 30).join('</p>\\n<p>') + '</p>';\n    }\n  }\n\n  console.log(`рџ“° [${i+1}/${httpItems.length}] ${titulo} вЂ” conteudo: ${conteudo ? conteudo.length + ' chars' : 'nГЈo extraГ­do'} | imagem: ${imagem_url ? 'ok' : 'null'}`);\n  results.push({ json: { titulo, fonte_url, fonte_nome, resumo, esporte_slug, conteudo: conteudo || null, imagem_url } });\n}\n\nreturn results;"
      },
      "id": "4bbf1bff-e80f-4710-ad35-840c288f2b4d",
      "name": "рџ“ќ Extrair conteГєdo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10064,
        1440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal-do-esporte-phi.vercel.app/api/webhook/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "portal-esporte-webhook-2026"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'noticia', titulo: $json.titulo, resumo: $json.resumo, conteudo: $json.conteudo, imagem_url: $json.imagem_url, fonte_nome: $json.fonte_nome, fonte_url: $json.fonte_url, esporte_slug: $json.esporte_slug }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "31b60638-9523-47ad-8497-394a973392a0",
      "name": "рџ“¤ Enviar notГ­cia ao Portal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10288,
        1440
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst titulo = $('рџ“ќ Extrair conteГєdo').item.json.titulo || '(sem tГ­tulo)';\n\nif (response.success) {\n  console.log(`вњ… Salva: ${titulo}`);\n} else if (response.skipped) {\n  console.log(`вЏ­пёЏ Duplicata: ${titulo}`);\n} else {\n  console.log(`вќЊ Erro: ${titulo} вЂ” ${JSON.stringify(response)}`);\n}\n\nreturn $input.all();"
      },
      "id": "18cad295-b488-4a22-89db-0f58d8299a13",
      "name": "рџ“ќ Log do resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10512,
        1440
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "вЏ° Disparar a cada 6h": {
      "main": [
        [
          {
            "node": "рџ“‹ Lista de Fontes RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "рџ“‹ Lista de Fontes RSS": {
      "main": [
        [
          {
            "node": "рџЊђ Buscar RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "рџЊђ Buscar RSS Feed": {
      "main": [
        [
          {
            "node": "рџ”Ќ Parsear XML do RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "рџ”Ќ Parsear XML do RSS": {
      "main": [
        [
          {
            "node": "рџ”— Buscar artigo completo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "рџ”— Buscar artigo completo": {
      "main": [
        [
          {
            "node": "рџ“ќ Extrair conteГєdo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "рџ“ќ Extrair conteГєdo": {
      "main": [
        [
          {
            "node": "рџ“¤ Enviar notГ­cia ao Portal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "рџ“¤ Enviar notГ­cia ao Portal": {
      "main": [
        [
          {
            "node": "рџ“ќ Log do resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fb68cf3c-5e03-44f9-bcec-4604b07659d0",
  "meta": {
    "instanceId": "f5912e8d2d1b719027aac7bc083d75ff0eefaf4cce894dfe7b1fb1dcb9fe84ea"
  },
  "id": "RX78LLQuFMqPgsrn",
  "tags": []
}
