n8n-workflows/Portal do Esporte — Scraping de Notícias RSS.json
{
  "name": "Portal do Esporte — Scraping de Notícias RSS",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "56ec3cf4-893b-4c6c-b240-9606b79bd050",
      "name": "⏰ Disparar a cada 6h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        8944,
        1440
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// FONTES RSS — Federações Gaúchas confirmadas\n// ativo: true = será buscado a cada 6h\n// ativo: false = aguardando validação\n// ============================================================\nconst fontes = [\n\n  // ✅ RSS CONFIRMADOS — WordPress com /feed nativo\n  {\n    nome: 'Federação Gaúcha de Ciclismo',\n    url_rss: 'https://www.fgc.com.br/feed/',\n    esporte_slug: 'ciclismo',\n    ativo: true\n  },\n  {\n    nome: 'IFBB RS (Fisiculturismo)',\n    url_rss: 'https://www.ifbbrs.com.br/feed/',\n    esporte_slug: 'fisiculturismo',\n    ativo: true\n  },\n  {\n    nome: 'Federação Gaúcha de Judô',\n    url_rss: 'https://judors.com.br/feed/',\n    esporte_slug: 'judo',\n    ativo: true\n  },\n\n  // ✅ RSS de referência nacional\n  {\n    nome: 'GloboEsporte',\n    url_rss: 'https://ge.globo.com/rss/atomfeed.xml',\n    esporte_slug: 'futebol',\n    ativo: true\n  },\n\n  // ⏳ SEM RSS — SPA/custom (scraping futuro via Apify)\n  // FGARS (Atletismo): https://www.fgars.org/#/pages/news — SPA, sem RSS\n  // Tênis Integrado: https://www.tenisintegrado.com.br — backend Java, sem RSS\n\n  // ✅ RSS CONFIRMADOS — validados em 2026-03-16\n  {\n    nome: 'Federação Gaúcha de Basketball',\n    url_rss: 'https://basquetegaucho.com.br/feed/',\n    esporte_slug: 'basquete',\n    ativo: true\n  },\n\n  // ⏳ SEM RSS — aguardando validação ou site sem feed\n  {\n    nome: 'Federação Gaúcha de Futebol',\n    url_rss: 'https://www.fgf.com.br/feed',\n    esporte_slug: 'futebol',\n    ativo: false\n  },\n  {\n    nome: 'Federação Gaúcha de Vôlei',\n    url_rss: 'https://www.fgv.com.br/feed',\n    esporte_slug: 'volei',\n    ativo: false\n  }\n];\n\nreturn fontes\n  .filter(f => f.ativo)\n  .map(f => ({ json: f }));"
      },
      "id": "1a120d6a-ce48-44a4-8950-f96abe6ea166",
      "name": "📋 Lista de Fontes RSS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9168,
        1440
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url_rss }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        }
      },
      "id": "745bd72c-6115-4eb4-8ab4-5d62781c0d28",
      "name": "🌐 Buscar RSS Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9392,
        1440
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parsear XML de TODOS os feeds — RSS e Atom\n// Itera sobre todos os inputs para processar cada feed\nconst decodeEntities = (str) => {\n  if (!str) return str;\n  const entities = {\n    '&amp;': '&', '&lt;': '<', '&gt;': '>',\n    '&nbsp;': ' ', '&aacute;': 'á', '&eacute;': 'é', '&iacute;': 'í',\n    '&oacute;': 'ó', '&uacute;': 'ú', '&Aacute;': 'Á', '&Eacute;': 'É',\n    '&Iacute;': 'Í', '&Oacute;': 'Ó', '&Uacute;': 'Ú', '&atilde;': 'ã',\n    '&otilde;': 'õ', '&Atilde;': 'Ã', '&Otilde;': 'Õ', '&ccedil;': 'ç',\n    '&Ccedil;': 'Ç', '&agrave;': 'à', '&egrave;': 'è', '&acirc;': 'â',\n    '&ecirc;': 'ê', '&ocirc;': 'ô', '&ucirc;': 'û', '&ndash;': '–',\n    '&mdash;': '—', '&hellip;': '…', '&lsquo;': '\\u2018', '&rsquo;': '\\u2019',\n    '&ldquo;': '\\u201C', '&rdquo;': '\\u201D'\n  };\n  return str\n    .replace(/&#x([0-9a-fA-F]+);/g, (_, hex) => String.fromCharCode(parseInt(hex, 16)))\n    .replace(/&#([0-9]+);/g, (_, dec) => String.fromCharCode(parseInt(dec, 10)))\n    .replace(/&[a-zA-Z]+;/g, (ent) => entities[ent] || ent);\n};\n\nconst extract = (text, tag) => {\n  const r = new RegExp(\n    `<${tag}[^>]*><!\\\\[CDATA\\\\[([\\\\s\\\\S]*?)\\\\]\\\\]><\\/${tag}>|<${tag}[^>]*>([\\\\s\\\\S]*?)<\\/${tag}>`,\n    'i'\n  );\n  const m = text.match(r);\n  return (m ? (m[1] || m[2]) : '').trim();\n};\n\nconst httpItems = $input.all();\nconst fonteItems = $('📋 Lista de Fontes RSS').all();\nconst results = [];\n\nfor (let i = 0; i < httpItems.length; i++) {\n  const xml = httpItems[i].json.data;\n  const fonte = fonteItems[i] ? fonteItems[i].json : {};\n  const fonte_nome = fonte.nome || `Fonte ${i}`;\n  const esporte_slug = fonte.esporte_slug || 'geral';\n\n  if (!xml || typeof xml !== 'string') {\n    console.log(`⚠️ [${i+1}/${httpItems.length}] Sem XML de ${fonte_nome}`);\n    continue;\n  }\n\n  const isAtom = /<feed[^>]*xmlns[^>]*>/i.test(xml) || /<entry[^>]*>/i.test(xml);\n  console.log(`[${i+1}/${httpItems.length}] ${fonte_nome}: formato ${isAtom ? 'Atom' : 'RSS'}`);\n\n  const items = [];\n\n  if (isAtom) {\n    const entryRegex = /<entry[^>]*>([\\s\\S]*?)<\\/entry>/gi;\n    let match;\n    while ((match = entryRegex.exec(xml)) !== null) {\n      const entry = match[1];\n      const titulo = decodeEntities(extract(entry, 'title'));\n      const linkMatch = entry.match(/<link[^>]+href=[\"']([^\"']+)[\"'][^>]*(?:rel=[\"']alternate[\"'][^>]*)?\\/?>/) ||\n                        entry.match(/<link[^>]+rel=[\"']alternate[\"'][^>]+href=[\"']([^\"']+)[\"'][^>]*\\/?>/);\n      const fonte_url = linkMatch ? linkMatch[1] : null;\n      const descricao = extract(entry, 'summary') || extract(entry, 'content') || '';\n      const resumo = decodeEntities(descricao.replace(/<[^>]+>/g, '').trim().substring(0, 300)) || null;\n      const thumbMatch = entry.match(/<media:thumbnail[^>]+url=[\"']([^\"']+)[\"']/i) ||\n                         entry.match(/<enclosure[^>]+url=[\"']([^\"']+)[\"'][^>]+type=[\"']image/i);\n      const imagem_url = thumbMatch ? thumbMatch[1] : null;\n      if (titulo && fonte_url) items.push({ titulo, fonte_url, fonte_nome, resumo, imagem_url, esporte_slug });\n    }\n  } else {\n    const itemRegex = /<item[^>]*>([\\s\\S]*?)<\\/item>/gi;\n    let match;\n    while ((match = itemRegex.exec(xml)) !== null) {\n      const item = match[1];\n      const titulo = decodeEntities(extract(item, 'title'));\n      const link = extract(item, 'link') || extract(item, 'guid');\n      const descricao = extract(item, 'description');\n      const linkAtomMatch = item.match(/<link[^>]+href=[\"']([^\"']+)[\"'][^>]*\\/?>/i);\n      const fonte_url = link || (linkAtomMatch ? linkAtomMatch[1] : null);\n      const imgMatch = descricao.match(/<img[^>]+src=[\"']([^\"']+)[\"']/i);\n      const imagem_url = imgMatch ? imgMatch[1] : null;\n      const resumo = decodeEntities(descricao.replace(/<[^>]+>/g, '').trim().substring(0, 300)) || null;\n      const conteudo_rss = extract(item, 'content:encoded') || null;\n      if (titulo && fonte_url) items.push({ titulo, fonte_url, fonte_nome, resumo, imagem_url, esporte_slug, conteudo_rss });\n    }\n  }\n\n  console.log(`  → ${items.length} itens de ${fonte_nome}`);\n  results.push(...items.map(it => ({ json: it })));\n}\n\nconsole.log(`Total: ${results.length} itens de ${httpItems.length} fontes`);\nreturn results;"
      },
      "id": "a651aa29-2dbb-4d3a-aa98-84c29effbbf7",
      "name": "🔍 Parsear XML do RSS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9616,
        1440
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.fonte_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "id": "2e94122d-803f-4038-8c4a-0e79ea939169",
      "name": "🔗 Buscar artigo completo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9840,
        1440
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Processa TODOS os itens — preserva HTML (links, listas, negrito)\n// Usa content:encoded do RSS quando disponível (mais limpo que parsear HTML completo)\nconst ALLOWED = new Set(['p','ul','ol','li','strong','b','em','i','h1','h2','h3','h4','h5','h6','blockquote','br','a']);\n\nfunction sanitizeHtml(chunk) {\n  // Remove blocos perigosos incluindo seu conteúdo\n  let html = chunk\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<nav\\b[\\s\\S]*?<\\/nav>/gi, '')\n    .replace(/<header\\b[\\s\\S]*?<\\/header>/gi, '')\n    .replace(/<footer\\b[\\s\\S]*?<\\/footer>/gi, '')\n    .replace(/<aside\\b[\\s\\S]*?<\\/aside>/gi, '')\n    .replace(/<iframe[\\s\\S]*?<\\/iframe>/gi, '')\n    .replace(/<form[\\s\\S]*?<\\/form>/gi, '')\n    .replace(/<!--[\\s\\S]*?-->/g, '');\n\n  // Processa cada tag HTML\n  html = html.replace(/<(\\/?)([a-zA-Z][a-zA-Z0-9]*)\\b([^>]*)>/g, (match, slash, tag, attrs) => {\n    const t = tag.toLowerCase();\n    if (!ALLOWED.has(t)) return '';\n\n    if (slash) return `</${t}>`;\n    if (t === 'br') return '<br>';\n\n    if (t === 'a') {\n      const hrefM = attrs.match(/href=[\"']([^\"']+)[\"']/i);\n      if (hrefM && /^https?:\\/\\//i.test(hrefM[1])) {\n        return `<a href=\"${hrefM[1]}\" target=\"_blank\" rel=\"noopener noreferrer\">`;\n      }\n      return '';\n    }\n\n    return `<${t}>`;\n  });\n\n  // Decodifica entidades HTML comuns\n  html = html\n    .replace(/&amp;/g, '&').replace(/&nbsp;/g, ' ').replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\").replace(/&apos;/g, \"'\")\n    .replace(/&aacute;/g, 'á').replace(/&eacute;/g, 'é').replace(/&iacute;/g, 'í')\n    .replace(/&oacute;/g, 'ó').replace(/&uacute;/g, 'ú').replace(/&ccedil;/g, 'ç')\n    .replace(/&Ccedil;/g, 'Ç').replace(/&atilde;/g, 'ã').replace(/&otilde;/g, 'õ')\n    .replace(/&Atilde;/g, 'Ã').replace(/&Otilde;/g, 'Õ').replace(/&Aacute;/g, 'Á')\n    .replace(/&Eacute;/g, 'É').replace(/&Iacute;/g, 'Í').replace(/&Oacute;/g, 'Ó')\n    .replace(/&Uacute;/g, 'Ú').replace(/&ndash;/g, '–').replace(/&mdash;/g, '—')\n    .replace(/&laquo;/g, '«').replace(/&raquo;/g, '»');\n\n  html = html.replace(/[ \\t]{3,}/g, ' ').trim();\n  return html;\n}\n\nfunction extractFromAnchor(htmlStr, anchorRegex) {\n  const m = htmlStr.match(anchorRegex);\n  if (!m) return null;\n  const start = htmlStr.indexOf(m[0]);\n  if (start === -1) return null;\n  const chunk = htmlStr.substring(start, start + 30000);\n  const sanitized = sanitizeHtml(chunk);\n  const textLen = sanitized.replace(/<[^>]+>/g, '').trim().length;\n  if (textLen < 100) return null;\n  return sanitized;\n}\n\nconst anchors = [\n  /<article[^>]*>/i,\n  /<div[^>]+class=[\"'][^\"']*entry-content[^\"']*[\"']/i,\n  /<div[^>]+class=[\"'][^\"']*post-content[^\"']*[\"']/i,\n  /<div[^>]+class=[\"'][^\"']*td-post-content[^\"']*[\"']/i,\n  /<div[^>]+class=[\"'][^\"']*article-body[^\"']*[\"']/i,\n  /<div[^>]+class=[\"'][^\"']*materia-conteudo[^\"']*[\"']/i,\n  /<div[^>]+class=[\"'][^\"']*conteudo[^\"']*[\"']/i,\n  /<div[^>]+class=[\"'][^\"']*content[^\"']*[\"']/i,\n  /<main[^>]*>/i,\n];\n\nconst httpItems = $input.all();\nconst parsedItems = $('🔍 Parsear XML do RSS').all();\nconst results = [];\n\nfor (let i = 0; i < httpItems.length; i++) {\n  const html = httpItems[i].json.data || '';\n  const meta = parsedItems[i] ? parsedItems[i].json : {};\n\n  const titulo = meta.titulo || '';\n  const fonte_url = meta.fonte_url || '';\n  const fonte_nome = meta.fonte_nome || '';\n  const resumo = meta.resumo || null;\n  const esporte_slug = meta.esporte_slug || '';\n  const conteudo_rss = meta.conteudo_rss || null;\n\n  // Extrai imagem: og:image → twitter:image → primeira img grande no corpo\n  let imagem_url = meta.imagem_url || null;\n  const ogImagePatterns = [\n    /<meta[^>]+property=[\"']og:image[\"'][^>]+content=[\"']([^\"']+)[\"']/i,\n    /<meta[^>]+content=[\"']([^\"']+)[\"'][^>]+property=[\"']og:image[\"']/i,\n    /<meta[^>]+name=[\"']twitter:image[\"'][^>]+content=[\"']([^\"']+)[\"']/i,\n    /<meta[^>]+content=[\"']([^\"']+)[\"'][^>]+name=[\"']twitter:image[\"']/i,\n  ];\n  for (const pattern of ogImagePatterns) {\n    const m = html.match(pattern);\n    if (m && m[1] && m[1].startsWith('http')) {\n      imagem_url = m[1];\n      break;\n    }\n  }\n  // Fallback: primeira imagem grande no corpo (sites sem og:image como Elementor)\n  if (!imagem_url) {\n    const bodyImgPatterns = [\n      /<img[^>]+class=[\"'][^\"']*(?:attachment-large|size-large|wp-post-image)[^\"']*[\"'][^>]+src=[\"']([^\"']+)[\"']/i,\n      /<img[^>]+src=[\"']([^\"']+)[\"'][^>]+class=[\"'][^\"']*(?:attachment-large|size-large|wp-post-image)[^\"']*[\"']/i,\n      /<img[^>]+width=[\"']([6-9]\\d{2}|[1-9]\\d{3})[\"'][^>]+src=[\"']([^\"']+\\.(?:jpg|jpeg|png|webp))[\"']/i,\n    ];\n    for (const pat of bodyImgPatterns) {\n      const m = html.match(pat);\n      const url = m && (m[2] || m[1]);\n      if (url && url.startsWith('http') && !url.includes('logo') && !url.includes('icon') && !url.includes('favicon')) {\n        imagem_url = url;\n        break;\n      }\n    }\n  }\n\n  // Extrai conteúdo\n  let conteudo = null;\n\n  // 1ª opção: content:encoded do RSS (já limpo, sem sidebar/footer)\n  if (conteudo_rss && conteudo_rss.trim().length > 100) {\n    conteudo = sanitizeHtml(conteudo_rss);\n    console.log(`✅ [${i+1}] ${titulo.substring(0,40)} — usando content:encoded (${conteudo.length} chars)`);\n  }\n\n  // 2ª opção: parsear HTML da página completa por âncora de conteúdo\n  if (!conteudo) {\n    for (const anchor of anchors) {\n      const extracted = extractFromAnchor(html, anchor);\n      if (extracted && extracted.replace(/<[^>]+>/g, '').trim().length > 200) {\n        conteudo = extracted;\n        console.log(`🔍 [${i+1}] ${titulo.substring(0,40)} — extraído por âncora (${conteudo.length} chars)`);\n        break;\n      }\n    }\n  }\n\n  // 3ª opção: fallback parágrafos\n  if (!conteudo) {\n    const allP = (html.match(/<p[^>]*>[\\s\\S]*?<\\/p>/gi) || [])\n      .map(p => sanitizeHtml(p))\n      .filter(p => p.replace(/<[^>]+>/g, '').trim().length > 60);\n    if (allP.length >= 2) {\n      conteudo = allP.slice(0, 30).join('\\n');\n      console.log(`⚠️ [${i+1}] ${titulo.substring(0,40)} — fallback parágrafos`);\n    }\n  }\n\n  if (!conteudo) console.log(`❌ [${i+1}] ${titulo.substring(0,40)} — sem conteúdo`);\n\n  results.push({ json: { titulo, fonte_url, fonte_nome, resumo, esporte_slug, conteudo: conteudo || null, imagem_url } });\n}\n\nreturn results;"
      },
      "id": "4bbf1bff-e80f-4710-ad35-840c288f2b4d",
      "name": "📝 Extrair conteúdo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10064,
        1440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal-do-esporte-phi.vercel.app/api/webhook/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "portal-esporte-webhook-2026"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'noticia', titulo: $json.titulo, resumo: $json.resumo, conteudo: $json.conteudo, imagem_url: $json.imagem_url, fonte_nome: $json.fonte_nome, fonte_url: $json.fonte_url, esporte_slug: $json.esporte_slug }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "31b60638-9523-47ad-8497-394a973392a0",
      "name": "📤 Enviar notícia ao Portal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10288,
        1440
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst titulo = $('📝 Extrair conteúdo').item.json.titulo || '(sem título)';\n\nif (response.success) {\n  console.log(`✅ Salva: ${titulo}`);\n} else if (response.skipped) {\n  console.log(`⏭️ Duplicata: ${titulo}`);\n} else {\n  console.log(`❌ Erro: ${titulo} — ${JSON.stringify(response)}`);\n}\n\nreturn $input.all();"
      },
      "id": "18cad295-b488-4a22-89db-0f58d8299a13",
      "name": "📝 Log do resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10512,
        1440
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "⏰ Disparar a cada 6h": {
      "main": [
        [
          {
            "node": "📋 Lista de Fontes RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Lista de Fontes RSS": {
      "main": [
        [
          {
            "node": "🌐 Buscar RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Buscar RSS Feed": {
      "main": [
        [
          {
            "node": "🔍 Parsear XML do RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Parsear XML do RSS": {
      "main": [
        [
          {
            "node": "🔗 Buscar artigo completo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Buscar artigo completo": {
      "main": [
        [
          {
            "node": "📝 Extrair conteúdo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Extrair conteúdo": {
      "main": [
        [
          {
            "node": "📤 Enviar notícia ao Portal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Enviar notícia ao Portal": {
      "main": [
        [
          {
            "node": "📝 Log do resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fb68cf3c-5e03-44f9-bcec-4604b07659d0",
  "meta": {
    "instanceId": "f5912e8d2d1b719027aac7bc083d75ff0eefaf4cce894dfe7b1fb1dcb9fe84ea"
  },
  "id": "RX78LLQuFMqPgsrn",
  "tags": []
}